<p>
  <b>Name:</b>
  <%=h @message.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @message.email %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @message.recipient %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
