<div class="grid_6">
<h3>Luo Uusi Jälleenmyyjä</h3>

<% form_for(@retailer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :retailer_category_id %><br />
    <%= f.collection_select :retailer_category_id, RetailerCategory.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>

<div class="grid_6">
	<%= render :partial => 'new_retailer_category' %>
</div>

<div class=" grid_12">
	<%= link_to 'Back', retailers_path %>
</div>
