<div class="grid_12" id="admin-pages">
	<h1>Sivujen Hallinta</h1>

<table>
  <tr>
    <th>Parent</th>
		<th>Navlabel</th>
		<th>Page Url</th>
    <th>Position</th>
    <th>Status</th>
    <th>User</th>
    <th>Redirect</th>
  </tr>

<% for page in @pages %>
  <tr id="<%= cycle('odd', 'even') %>">
		<td><% if page.parent_id? %><%= page.parent.navlabel %><% end %></td>
    <td><%=h page.navlabel %></td>
		<td><%= page.page_url %></td>
    <td><%=h page.position %></td>
    <td><%=h page.status %></td>
    <td><%=h page.user.first_name %> <%= page.user.last_name %></td>
    <td><%=h page.redirect? ? "TRUE" : "FALSE" %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>

</div>